<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add New Pet | Pet Adoption</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <div class="page-section">
    <div class="page-section-inner">
      <a href="/admin" class="small-link">&laquo; Back to admin dashboard</a>
      <h1 class="page-section-title mb-big">Add New Pet</h1>
      <form id="manage-pet-form" action="/store-pet" method="POST">
        <input autofocus autocomplete="off" class="form-field" type="text" name="name" placeholder="name" />
        <input autocomplete="off" class="form-field" type="text" name="birthYear" placeholder="Year born (e.g. 2019)" />
        <select class="form-field" name="species">
          <option>dog</option>
          <option>cat</option>
        </select>
        <textarea class="form-field" name="description" placeholder="Description..."></textarea>

        <input class="form-field" id="file-field" type="file" />

        <div class="photo-preview"></div>

        <input id="public_id" type="hidden" name="public_id" />
        <input id="version" type="hidden" name="version" />
        <input id="signature" type="hidden" name="signature" />
        <button id="submit-btn" class="our-btn">Add New Pet</button>
      </form>
    </div>
  </div>

  <footer class="site-footer">
    <p>&copy; 2023 Fake Adoption Center. All rights reserved.</p>
  </footer>

  <script>
    const api_key = "<%= apikey %>"
    const cloud_name = "<%= cloudname %>"
  </script>

  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="/js/add-pet.js"></script>
</body>

</html>